<div class="nav2">
    <ul class="list">
        <li><i class="fa-solid fa-bars" style="color: white; font-size: 20px; padding-right: 5px;"></i>All</li>
        <li>Fresh</li>
        <li>Gift Cards</li>
        <li>Amazon Pay</li>
        <li>Buy Again</li>
        <li>Kindle eBooks</li>
        <li>Baby</li>
        <li>Browsing History</li>
        <li>Grocery & Gourmet Foods</li>
        <li>Alfez's Amazon.in</li>
        <li>Health, Households & Personal care</li>
        <li>Pet Supplies</li>
    </ul>
</div>