<nav>
    <div class="logo">
        <img src="../stylsheet/Amazon.jpg" alt="logo">
        <p>.in</p>
    </div>
    <div class="address">
        <div class="loc">
            <i class="fa-solid fa-location-dot" style="padding-top: 17px; padding-right: 3px;"></i>
        </div>
        <div class="addr">
            <div style="color: rgb(190, 189, 189); font-size: 13px;">Deliver to Alfez<br></div>
            <div style="font-weight: bolder; font-size: 13px; ">Nimbahera 312601</div>
        </div>

    </div>
    <div class="search">
        <form action="/" method="post">
            <button class="all">All </button>
            <input type="search" name="search" id="search">
            <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="language">
        English &#9661;
    </div>
    <div class="account">
        <div class="acc">Hello Alfez </div>
        <div style="font-weight: bolder; font-size: 15px; line-height: 1px; color: white; margin-top: 4px;">
            Account
            & list</div>
    </div>


    <div class="orders">
        <div class="ord1">Returns</div>
        <div class="ord2" style="font-weight: bolder; font-size: 15px; line-height: 1px; margin-top: 4px;">&
            orders
        </div>
    </div>
    <div class="cart">
        <div class="c1">
            <i class="fa-solid fa-cart-shopping" style="color: white; font-size: 25px; position: absolute; "></i>
            <div class="number"
                style="position: relative; color: black; left: 11px; bottom: 4px; font-size: 15px;">
                0</div>
        </div>
        <div class="txt" style="color: white; padding-left: 25px;">
            <p>Cart</p>
        </div>
    </div>
</nav>