<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>td</title>
    <link rel="stylesheet" href="../public/stylsheet/todays_deals.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(() => {

        });
    </script>
</head>

<body>
    <div class="todays-deals">
        <div class="slide1">
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/almond_oil-td.jpg" alt="">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/bag.jpg" style="padding-left: 25px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/bag2-td.jpg" style="padding-left: 35px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/cushion-td.jpg" style="width: 100%; height: auto; padding-top: 50px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/dairy_milk-td.jpg" alt="">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/fashion-td.jpg" style="padding-left: 55px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
        </div>
        <div class="slide2">
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/gopro.jpg" style="width: 100%; height: auto; padding-top: 35px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/phone2-td.jpg" style="padding-left: 25px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/mobile-td.jpg" style="padding-left: 35px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/neck_phone.jpg" style="padding-left: 25px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/panties-ts.jpg" style="padding-left: 25px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
            <div class="items">
                <div class="image-td">
                    <img src="../public/stylsheet/carousel_todays-deals/phone-td.jpg" style="padding-left: 55px;">
                </div>
                <div class="info-td">
                    <p class="price"></p>
                    <p class="timing"></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>